extends layout.pug

block content
    .box
        h1 Noooooo....
            h2 There seems to be a problem.
            br
            h3
                em #{error.message} - (#{error.status})
            if (error.stack)
                pre= error.stack
            br
            h5 If you would like to go home
                a(href="/")  click here 