extends layout.pug

block content

  article.portfolio-intro
    h1 Welcome to my portfolio!
    p 
      | This is a gorgeous portfolio site to showcase the great projects
      | I've built. They will show some of my skills like web development, 
      | Node.js, Express, HTML, CSS and others.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= project.project_name