<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/images/profile_pic.jpg', alt='Profile Picture')
        .dev-intro-box
          h5 Jacob Del Llano

          p 
            | I am Mr. Jake! I'm a brother and a son and I love to take on challenges. 
            | I do a little bit of everything, like a swiss army knife. But my passion 
            | has always been web development. I am awesome 
            | because I put all of my effort into whatever I take on.

          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')
          span Jacob Del Llano

      block content
    script(src='/static/js/script.js')